html {
  font-size: 18px;
}

body {
  font-family: helvetica;
}

/* Header */

.container-black {
  background-color: black;
  display: flex;
  justify-content: center;
}

.content-left {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: flex-start;
}

.content-left img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.content-left span {
  font-size: 1rem;
  color: white;
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
}

/* Banner */

.container-banner {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content-left .banner-title {
  background-color: black;
  width: 25rem;
  margin-top: 9rem;
}

.banner-title h4 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.banner-title h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  display: block;
}

/* Navigation */

.container-red {
  background-color: firebrick;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-sb {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

nav span {
  color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Products */

.container-white {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.content-sb {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.item {
  border:4px solid black;
  width: 30%;
  display: flex;
  flex-flow: column wrap;
}

.item img {
  height: 9rem;
  max-width: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;

}

.item span {
  background-color: black
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* Info */

.container {
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 35%;
  margin-top: 2rem;
}

.contact span {
  display: block;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  width: 35%;
}
