html {
  font-size: 18px;
}

body {
  font-family: helvetica;
}

/* Header */

.top-container {
  background-color: black;
  display: flex;
  justify-content: center;
}

#logo-name {
  display: flex;
  background-color: black;
  width: 960px;
  align-items: center;
}

#logo-name img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#logo-name span {
  font-size: 1rem;
  color: white;
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
}

/* Banner */

.banner-container {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  display: flex;
}

#banner-title {
  background-color: black;
  width: 20rem;
  height: auto;
  margin: 0;

}

#banner-title h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

#banner-title h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
}
