html {
  font-size: 18px;
}

body {
  font-family: helvetica;
}

/* Header */

.top-container {
  background-color: black;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: flex-start;
}

.content img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.content span {
  font-size: 1rem;
  color: white;
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
}

/* Banner */

.banner-container {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content .banner-title {
  background-color: black;
  width: 25rem;
  margin-top: 9rem;
}

.banner-title h4 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.banner-title h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  display: block;
}

/* Navigation */

.navigation-container {
  background-color: firebrick;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-space {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

nav span {
  color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
